#slider {
	margin: 2em auto;
	width: 600px;
	overflow: hidden;
}

#slider-wrapper {
	width: 9999px;
	height: 400px;
	position: relative;
	transition: transform 0.4s ease-in-out; 
}

#slider-nav {
	text-align: center;
	margin-top: 2em;
}

.slide {
	float: left;
	width: 600px;
	height: 400px;
	position: relative;
	overflow: hidden;
}

.slide img {
	position: absolute;
	top: 0;
	left: 0;
}
